# Network Configuration
# Set to 'true' for testnet (Sepolia), 'false' for mainnet
NEXT_PUBLIC_IS_TESTNET=true

# L1 Chain Configuration
# This will be automatically set based on NEXT_PUBLIC_IS_TESTNET
# If NEXT_PUBLIC_IS_TESTNET=true, L1 will be Sepolia
# If NEXT_PUBLIC_IS_TESTNET=false, L1 will be Ethereum Mainnet
