# Network Configuration
# Set to 'true' for testnet (Sepolia), 'false' for mainnet
NEXT_PUBLIC_IS_TESTNET=true

# Infura Configuration -- Used for indentifying proxy contracts and fetching ABI 
NEXT_PUBLIC_OPTIMISM_ETHERSCAN_API_KEY=
NEXT_PUBLIC_BASE_ETHERSCAN_API_KEY=

# Alchemy Key: Used for all chains defined in chainConfig
NEXT_PUBLIC_ALCHEMY_API_KEY=

# Network Configuration 
NEXT_PUBLIC_IS_TESTNET=true