@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles can go here */

:root {
  --background-color: #f0f2f7;
  --text-color: #000000;
  --card-background-color: #ffffff; /* light background */
  --primary-color: #0ea5e9;
  --secondary-color: #93c5fd;
}

[data-theme='dark'] {
  --background-color: #16181a;
  --text-color: #ffffff;
  --card-background-color: #202426;
  --primary-color: #0ea5e9;
  --secondary-color: #93c5fd;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.bg-card {
  background: var(--card-background-color);
}
